.padding-row{
    padding: 25px 1px 25px 1px;
}

h2{
    margin: 0px; display: inline-block;
}

.span-subtitulo{
    margin-left: 20px;
}

.btn-criar{
    margin: auto;
}

.container-pesquisar{
    background-color: #fff; height: 100vh;
}

.top-row{
    height: 50px;
}
/* 
::ng-deep ul > li:not(.active) > a {
    background-color: rgb(255, 208, 0) !important;
    border-color: black !important;
  }
  
  ::ng-deep ul > li.disabled > span {
    background-color: brown !important;
    border-color: black !important;
  }
   */
  ::ng-deep ul > li.current {
    background-color: rgb(255, 208, 0) !important;
    border-color: rgb(255, 208, 0) !important
  }