<div class="modal-header">
    <h4 class="modal-title">Cadastrar Veículo</h4>
  </div>

<div class="modal-body">
<form [formGroup]="myForm" *ngIf="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="exampleFormControlInput1">Cadastro de Veículo</label>
    </div>
    <div class="form-group">
        <label for="modelo">Marca/Modelo</label>
        <input type="text" class="form-control" id="modelo" name="modelo" formControlName="modelo">
    </div> 
    <div class="form-group">
        <label for="ano">Ano</label>
        <input type="text" class="form-control" id="ano" name="ano" formControlName="ano">
    </div>
    <div class="form-group">
        <label for="cor">Cor</label>
        <input type="text" class="form-control" id="cor" name="cor" formControlName="cor">
    </div>
    <div class="form-group">
        <label for="placa">Placa</label>
        <input type="text" class="form-control" id="placa" name="placa" formControlName="placa">
    </div>
    <div class="form-group">
        <label for="tipoVeiculo">Tipo</label>
        <select  class="form-control" id="tipoVeiculo" formControlName="tipoVeiculo">
            <option [value]="0" >Selecione</option>     
            <option [value]="veiculo.id" *ngFor="let veiculo of tipoVeiculos">{{veiculo.nome}}</option>     
        </select>
    </div>
    <div class="form-group">
        <label for="qtde">Capacidade Passageiros</label>
        <input type="text" class="form-control" id="qtde" name="qtde" formControlName="capacidadePassageiro">
    </div>
    <div class="form-group">
        <label for="carga">Capacidade Carga</label>
        <input type="text" class="form-control" id="carga"  name="carga"  formControlName="capacidadeCarga">
    </div>
  
    <div class="form-group">
        <ul *ngIf="revisoes!=undefined">
          <li *ngFor="let revisao of revisoes">{{revisao.km}} KM | {{revisao.data | date: 'dd/MM/yyyy'}} | {{revisao.valorDaRevisao | currency : 'BRL'}} <a href="#" (click)="removeRevisao(revisao.tempId)">X</a></li>
        </ul>
      </div>

      <div class="form-group">
          <button type="button" (click)="openCriarRevisoes(id)" class="btn btn-warning btn-sm">+ Adicionar Revisões</button>        
      </div>
</form>    
</div>

<div class="modal-footer">
    <button form="myForm" (click)="onSubmit()" type="submit" class="btn btn-warning">Salvar</button>  
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Fechar</button>     
</div>  